@model ProyectoSaberProWeb.Models.ViewModels.CompetenciaViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Competencias</h2>
<p>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal">
        Crear nueva
    </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompetenciaCreacion.Nombre)
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model.ListaCompetencias)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.ID })">
                    <i class="fas fa-pencil-alt">
                    </i>
                </a>
                &nbsp;&nbsp;
                <a href="#" data-toggle="modal" data-target="#modalDetalles" onclick="detallesCompetencia(@item.ID)">
                    <i class="fas fa-search-plus">
                    </i>
                </a>
                &nbsp;&nbsp;
                <a href="@Url.Action("Delete", new { id = item.ID })">
                    <i class="fas fa-trash-alt">
                    </i>
                </a>
            </td>
        </tr>
    }
</table>

<!-- Modal -->
<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalles Competencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <label>
                        Nombre:
                    </label>
                    <input type="text" disabled id="lbl_nombre" name="lbl_nombre" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear una competencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Create", "Competencia", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div>
                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompetenciaCreacion.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CompetenciaCreacion.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompetenciaCreacion.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Crear</button>
                </div>
            }
        </div>
    </div>
</div>
<style>
    .fa-pencil-alt {
        color: #EFD30B;
    }

        .fa-pencil-alt:hover {
            color: #D3B70B;
        }

    .fa-trash-alt {
        color: #DE0E0E;
    }

        .fa-trash-alt:hover {
            color: #A00C0C;
        }
</style>

<script type="text/javascript">
    const uri2 = '@Url.Action("Details", "Competencia")';
    const uriDetails = window.location.origin + "/Competencia/Details";
    function detallesCompetencia(id_competencia) {

        $.ajax({
            url: uriDetails,
            contentType: 'application/json',
            type: 'GET',
            dataType: 'json',
            data: { id: id_competencia },
            success: function (response) {
                $('#lbl_nombre').val(response.Nombre);
            },
            error: function (response) {
                console.log("Error\n");
                console.log(response);
            }
        });

    }
</script>

