@model ProyectoSaberProWeb.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Registrarse";
}

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <body class="bg-gradient-info">
        <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-4">
                <div class="card-body p-0" style="height: 550px">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block">
                            <br><br><br><br>
                            <img src="~/Content/img/register-doc.jpg" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h2 class="h4 text-gray-900 mb-4">@ViewBag.Title</h2>
                                    <h5>Asocie su cuenta @ViewBag.LoginProvider.</h5>
                                </div>
                                <label></label>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <form class="user">
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.LabelFor(m => m.Nombres, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Nombres, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            @Html.LabelFor(m => m.Apellidos, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.Apellidos, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Apellidos, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.LabelFor(m => m.Rol, new { @class = "control-label" })
                                            @Html.DropDownListFor(m => m.Rol, new SelectList(ViewBag.Roles, "Value", "Text"), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Rol, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            @Html.LabelFor(m => m.Departamento, new { @class = "control-label" })
                                            @Html.DropDownListFor(m => m.Departamento, new SelectList(ViewBag.Departamentos, "Value", "Text"), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Departamento, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.LabelFor(m => m.Ciudad, new { @class = "control-label" })
                                            @Html.DropDownListFor(m => m.Ciudad, new SelectList(ViewBag.Ciudades, "Value", "Text"), new { @class = "form-control", @id = "lista_ciudades" })
                                            @Html.ValidationMessageFor(m => m.Ciudad, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <hr>
                                    <button type="submit" class="btn btn-primary btn-user btn-block" value="Registrarse">
                                        Registrar Cuenta
                                    </button>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .text-danger {
                font-size: smaller;
            }
        </style>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
        </body>
}

