@using ProyectoSaberProWeb.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}
<head>
    <link rel="stylesheet" href="~/Content/css/StyleLoginAdmin.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <img src="~/Content/img/logo-admin.png" alt="avatar" class="avatar" />
    </div>
    <form class="login-form">
        <h3>@ViewBag.Title</h3>

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="txtb">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <p></p>
            <div class="txtb">

                @Html.LabelFor(m => m.Password, new { @class = "control-label" })

                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            </div>
            <p></p>
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Iniciar sesión" class="btn btn-default" />
            </div>
        }

    </form>

</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}