@model  ProyectoSaberProWeb.Models.ViewModels.CalificarPruebaViewModel
@{
    ViewBag.Title = "MiraResultados";
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
}

<h2>PRUEBA: @Model.CompetenciaActual.Nombre</h2>
<h3>
    PUNTAJE PRUEBA: @Model.PuntajePrueba DE @Model.PuntajePosible
</h3>
<h3>
    PUNTAJE DE LA COMPETENCIA: @Model.PuntajeCompetencia DE @Model.PuntajePosibleCompetencia
</h3>

<div class="container">

    <div class="container-sm">
        <table class="table">
            <thead>
                <tr>
                    <td>
                        PREGUNTAS
                    </td>
                    <td>
                        OPCIONES CORRECTAS
                    </td>
                    <td>
                        OPCION MARCADA
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.ListaPreguntas)
                {
                    <tr>
                        <td>
                            @i.Descripcion
                        </td>
                        <td>
                            @foreach (var j in Model.OpcionesCorrectas.Where(x => x.PreguntaId == i.ID))
                            {
                                @j.Descripcion
                            }
                        </td>
                        <td>
                            @foreach (var k in Model.OpcionesMarcadasLabel.Where(x => x.Value.PreguntaId == i.ID))
                            {
                                @k.Value.Descripcion
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a href="@Url.Action("PruebasPresentadas", "Estudiante")" class="btn btn-primary">
        Volver a las pruebas
    </a>
</div>

