@model ProyectoSaberProWeb.Models.ViewModels.PruebaPresentadaViewModel
@{
    ViewBag.Title = "PruebasPresentadas";
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
}

<h2>PruebasPresentadas</h2>

<table class="table">
    <thead>
        <tr>
            <td>
                @Html.LabelFor(model => model.PruebaLabel.Nombre)
            </td>
            <td>
                @Html.LabelFor(model => model.PruebaLabel.Estado)
            </td>
            <td>
                Resultados
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.PruebasVista)
        {
            <tr>
                <td>
                    @i.Value.Nombre
                </td>
                <td>
                    @i.Value.Estado
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DeterminarCompetencia" onclick="setIdPrueba(@i.Value.ID)">
                        Resultados
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="DeterminarCompetencia" tabindex="-1" role="dialog" aria-labelledby="DeterminarCompetenciaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("MiraResultados", "Estudiante" ,FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.DropDownListFor(model => model.CompetenciaId, new SelectList(Model.Competencias, "Value", "Text"))
                    @Html.HiddenFor(modle => Model.PruebaId)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Consultar</button>
                </div>
            }
        </div>
    </div>
</div>


<script type="text/javascript">
    function setIdPrueba(id)
    {
        $('#PruebaId').val(id)
    }
</script>