@model ProyectoSaberProWeb.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div>
    <div class="form-horizontal">
        <div class="form-row">
            <div class="col">
                <h2>Detalles Usuario</h2>
            </div>
            <div class="col" align="right">
                &nbsp;
                <a href="@Url.Action("index")">
                    <i class="far fa-arrow-alt-circle-left fa-2x">
                    </i>
                </a>
                <!--Aqui debe mirar a cual index debe volver-->
            </div>
         </div>
     </div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Ciudad.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ciudad.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombres)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombres)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apellidos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apellidos)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

        </dl>
    </div>
<p>
    <a href="@Url.Action("Edit")" class="btn btn-info">
        Editar
    </a>
</p>
