@model ProyectoSaberProWeb.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
  
    <div class="form-horizontal">
            <div class="form-row">
                <div class="col">
                    <h2>Editar Usuario</h2>
                </div>
                <div class="col" align="right">
                        &nbsp;
                        <a href="@Url.Action("index")">
                            <i class="far fa-arrow-alt-circle-left fa-2x">
                            </i>
                        </a>
                        <!--Aqui debe mirar a cual index debe volver-->
                </div>
            </div>
            <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <form>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Ciudad_Id, "Ciudad_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Ciudad_Id, new SelectList(ViewBag.Ciudades, "Value", "Text"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Ciudad_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
<div>
    &nbsp;&nbsp;
    <form>
        <div class="form-row">
            <div class="col-md-11" align="right">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </div>
        </div>
    </form>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
