@model ProyectoSaberProWeb.Models.ViewModels.UserViewModel
@using PagedList.Mvc
@Styles.Render("~/Content/PagedList.css")

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<p>
    
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Administradores</h3>
    </div>
    <div class="card-body">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="dataTable_length">
                            <a href="@Url.Action("Register", "Account")" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Crear nuevo</font></font></span>
                            </a>
                            <a href="" class="btn btn-success">
                                Crear nuevo
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div id="dataTable_filter" class="dataTables_filter">
                            <font style="vertical-align: inherit;">
                                @using (Html.BeginForm("Index", "Administrador", FormMethod.Get))
                                {
                                    <form class="d-none d-sm-inline-block" align="right">
                                        <div class="input-group">
                                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control bg-light border-0 small" })
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                }
                            </font>
                        </div>
                    </div>
                </div>
                <label></label>
                <table class="table table-responsive-lg table-borderless" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                <a href="@Url.Action("Index", "Administrador", new { sortOrder = ViewBag.NombreSortParm, currentFilter = ViewBag.CurrentFilter })">
                                    @Html.DisplayNameFor(model => model.Usuario.Nombres)
                                </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Index", "Administrador", new { sortOrder = ViewBag.ApellidosSortParm, currentFilter = ViewBag.CurrentFilter })">
                                    @Html.DisplayNameFor(model => model.Usuario.Apellidos)
                                </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Index", "Administrador", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })">
                                    @Html.DisplayNameFor(model => model.Usuario.Email)
                                </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Index", "Administrador", new { sortOrder = ViewBag.UserNameSortParm, currentFilter = ViewBag.CurrentFilter })">
                                    @Html.DisplayNameFor(model => model.Usuario.UserName)
                                </a>
                            </th>
                            <th> Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaUsuariosP)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombres)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Apellidos)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.Id })">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                    </a>
                                    &nbsp;&nbsp;
                                    <a href="@Url.Action("Details", new { id = item.Id })">
                                        <i class="fas fa-search-plus">
                                        </i>
                                    </a>
                                    &nbsp;&nbsp;
                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })">
                                        <i class="fas fa-trash-alt">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        Pagina @(Model.ListaUsuariosP.PageCount < Model.ListaUsuariosP.PageNumber ? 0 : Model.ListaUsuariosP.PageNumber) de @Model.ListaUsuariosP.PageCount

        @Html.PagedListPager(Model.ListaUsuariosP, page => Url.Action("Index",
           new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>
<br />

                    <style>
                        .fa-pencil-alt {
                            color: #EFD30B;
                        }

                            .fa-pencil-alt:hover {
                                color: #D3B70B;
                            }

                        .fa-trash-alt {
                            color: #DE0E0E;
                        }

                            .fa-trash-alt:hover {
                                color: #A00C0C;
                            }
                    </style>
