@model ProyectoSaberProWeb.Models.Pregunta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pregunta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Competencia.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competencia.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contexto.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contexto.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prueba.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prueba.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPregunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPregunta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreguntaPeso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreguntaPeso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
