@model IEnumerable<ProyectoSaberProWeb.Models.Pregunta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nueva", "Create", "Preguntas", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Competencia.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contexto.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prueba.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPregunta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreguntaPeso)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Competencia.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contexto.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prueba.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPregunta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreguntaPeso)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.ID })">
                <i class="fas fa-pencil-alt">
                </i>
            </a>
            &nbsp;&nbsp;
            <a href="@Url.Action("Details", new { id = item.ID })">
                <i class="fas fa-search-plus">
                </i>
            </a>
            &nbsp;&nbsp;
            <a href="@Url.Action("Delete", new { id = item.ID })">
                <i class="fas fa-trash-alt">
                </i>
            </a>
        </td>
    </tr>
}

</table>
<style>
    .fa-pencil-alt {
        color: #EFD30B;
    }

        .fa-pencil-alt:hover {
            color: #D3B70B;
        }

    .fa-trash-alt {
        color: #DE0E0E;
    }

        .fa-trash-alt:hover {
            color: #A00C0C;
        }
</style>
