@model ProyectoSaberProWeb.Models.ViewModels.RespondeCompetenciaPruebaViewModel

@{
    ViewBag.Title = "Responder prueba";
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-success">
            Presentando la prueba:
            @Model.PruebaPresentando.Nombre
        </h4>
    </div>
    <div class="card-body">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <center>
                <h5>
                    Competencia:
                    @Model.CompetenciaPresentando.Nombre
                </h5>
            </center>
            @Html.HiddenFor(model => model.CompetenciaPresentando, Model.CompetenciaPresentando)
            @Html.HiddenFor(model => model.PruebaPresentando.ID, Model.PruebaPresentando)
            @foreach (var item in Model.ListaPreguntas)
            {
                <form class="user" style="padding: 30px 40px">
                    <div class="form-group row" align="justify">
                        @foreach (var con in Model.PreguntaContexto.Where(x => x.Key == item.ID).ToList())
                        {
                            @con.Value.Descripcion
                        }
                    </div>
                    <div class="form-group row" align="justify">
                        @item.Descripcion
                    </div>

                    @foreach (var i in Model.OpcionesPregunta.Where(x => x.Key == item.ID).ToList())
                    {
                        foreach (var j in i.Value)
                        {
                            <div class="form-group row">
                                <div class="col-1">
                                    <input type="radio" class="rb_custom" name="PreguntaId_@j.PreguntaId" onclick="guardaProgreso(@j.ID ,@item.ID)"/>
                                </div>
                                <div class="col-sm-8" align="justify">
                                    <p>
                                        @j.Descripcion
                                    </p>
                                </div>
                            </div>
                        }
                    }
                </form>
            }
            <form class="user" style="padding: 30px 40px">
                @using (Html.BeginForm("Responder", "Respuestas"))
                {
                    @Html.HiddenFor(model => model.PruebaId, Model.PruebaPresentando.ID)
                    @Html.DropDownListFor(model => model.CompetenciaId, new SelectList(Model.ListaCompetencias, "Value", "Text"), new { @class = "form-control col-sm-11 col-md-12" })
                    <label></label>
                    <div class="col-sm-12 col-md-12" align="right">
                        <div class="dataTables_length" id="dataTable_length">
                            <button type="submit" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                                <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Siguiente competencia</font></font></span>
                            </button>
                        </div>
                    </div>
                }
                </form>
        </div>
    </div>
    </div>




    @Html.HiddenFor(model => model.PruebaPresentando.ID, htmlAttributes: new { @id = "PruebaIdPresentando" })
    @Html.HiddenFor(model => model.CompetenciaPresentando.ID, htmlAttributes: new { @id = "CompetenciaIdPresentando" })


    @*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Prueba_Estudiante</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    *@


    <script type="text/javascript">
    $(document).ready(function () {
        $('rb_custom').attr('checked', '0');
    });
    function guardaProgreso(opcionId, preguntaId){
        $.ajax({
            url: '@Url.Action("GuardaRespuesta", "Respuestas")',
            type: 'POST',
            data: {
                'OpcionId': opcionId,
                'PreguntaId': preguntaId
            },
            success: function (response) {
                console.log(response);
            },
            error: function (response) {
                console.log("Error: \n");
                console.log(response);
            }
        });
        }
        function unselect(){
  document.querySelectorAll('[name=Tipo]').forEach((x) => x.checked=false);
}
    </script>
