@model ProyectoSaberProWeb.Models.ViewModels.RespondeCompetenciaPruebaViewModel

@{
    ViewBag.Title = "Responder prueba";
}

<h1>
    Presentando la prueba:
    @Model.PruebaPresentando.Nombre
</h1>
<br />
<h2>
    Competencia:
    @Model.CompetenciaPresentando.Nombre
</h2>


    @Html.HiddenFor(model => model.CompetenciaPresentando, Model.CompetenciaPresentando)
    @Html.HiddenFor(model => model.PruebaPresentando.ID, Model.PruebaPresentando)
    <div class="container">
        @foreach (var item in Model.ListaPreguntas)
        {
            <div class="container-sm">
                <h5>
                    @foreach (var con in Model.PreguntaContexto.Where(x => x.Key == item.ID).ToList())
                    {

                        @con.Value.Descripcion

                    }
                </h5>
                <label>
                    @item.Descripcion
                </label>
                @foreach (var i in Model.OpcionesPregunta.Where(x => x.Key == item.ID).ToList())
                {
                    foreach (var j in i.Value)
                    {
                        <div>
                            @Html.RadioButtonFor(z => j.Correcta, "true",
                            htmlAttributes:
                                new
                                     {
                                    @class = "rb_custom",
                                    @Name = "PreguntaId_" + j.PreguntaId,
                                    @Onclick = "guardaProgreso(" + j.ID + ", " + item.ID + ")"
                                    })
                            <p>
                                @j.Descripcion
                            </p>
                        </div>
                    }
                    <br />
                    <br />
                }
            </div>
        }
    </div>
    @Url.Action("", "", new { })



@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Prueba_Estudiante</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
*@


<script type="text/javascript">
    $(document).ready(function () {
        $('rb_custom').attr('checked', '0');
    });
    function guardaProgreso(opcionId, preguntaId){
        $.ajax({
            url: '@Url.Action("GuardaRespuesta", "Respuestas")',
            type: 'POST',
            data: {
                'OpcionId': opcionId,
                'PreguntaId': preguntaId
            },
            success: function (response) {
                console.log(response);
            },
            error: function (response) {
                console.log("Error: \n");
                console.log(response);
            }
        });
    }
</script>